.app-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.content {
  flex: 1; /* Allow content area to take remaining space */
  padding: 20px; /* Add padding for better spacing */
  min-width: 300px; /* Ensure it doesn't shrink too much */
}

.sidebar {
  width: 250px; /* Fixed width for sidebar */
  min-height: 800px;
  padding: 20px; /* Ensure proper padding */
  background-color: #f4f4f4;
}

.post-card {
  margin: 20px 50px;
  min-width: 30rem;
}

.hashtag {
  margin: 0px 3px;
}

.reactions {
  margin: 15px 0 0 0;
}

.create_post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
